<mat-toolbar color="primary">
  <span>Halaman Admin</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Tambah Mahasiswa
  </button>
  <button mat-raised-button>
    Log Out
  </button>
</mat-toolbar>



<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="tanggallahir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tanggal Lahir </th>
        <td mat-cell *matCellDef="let row"> {{row.tanggallahir | date}}</td>
      </ng-container>

      <ng-container matColumnDef="jeniskelamin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jenis Kelamin </th>
        <td mat-cell *matCellDef="let row"> {{row.jeniskelamin}}</td>
      </ng-container>

      <ng-container matColumnDef="pendidikanterakhir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pendidikan Terakhir </th>
        <td mat-cell *matCellDef="let row"> {{row.pendidikanterakhir}}</td>
      </ng-container>

      <ng-container matColumnDef="alamat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alamat </th>
        <td mat-cell *matCellDef="let row"> {{row.alamat}}</td>
      </ng-container>

      <ng-container matColumnDef="nohp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No HP </th>
        <td mat-cell *matCellDef="let row"> {{row.nohp}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>